body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-wrapper {
  border: 2px white solid;
  border-radius: 8px;
  height: auto;
  width: 400px;
  margin: 25px;
  background-color: white;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;
  margin-bottom: -10px;
  margin-top: -5px;
}
.task-list {
  text-align: left;
}

.placeholder {
  font-size: 15px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 35px;
  width: 350px;
  padding-left: 10px;
  border: 0.2px solid #d1d5db;
  z-index: 1;
}
.placeholder::placeholder {
  color: #9ca3af;
}
.placeholder:focus {
  outline: none;
  border: 2px solid #3b82f6;
}
.checkbox-round {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
}

.checkbox-round:checked {
  background-color: #5291f6;
  color: white;
}
.checkbox-round:checked::after {
  content: "✓";
  display: block;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}
.icon-plus {
  color: white;
  background-color: #3b82f6;
  border-radius: 5px;
  width: 45px;
  height: 37px;
  border: none;
  margin-left: -12px;
}
.icon-plus:hover {
  background-color: #2563eb;
  cursor: pointer;
}
.todo-header {
  color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 30px;
}
hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin-left: -4px;
  margin-right: -2px;
}
label{
  font-family: Arial, Helvetica, sans-serif;
}